/* header css */
body,.section,.logo-links,ul,.header-bottom,.header-left,h3,.box-container,.section.three div,.container {
    display: flex;
}
body {
    /* background-color: black; */
    min-height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
}
.section {
    /* border: 2px solid blue; */   
    padding:32px 300px;
    flex-direction: column;
    flex: 1;
}
.section.two,.section.four {
    background-color: white;
}
.section.three,.section.four {
    padding-top: 64px;
    padding-bottom: 64px;
}
header,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo-links {
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
}
ul {
    list-style: none;
    gap: 24px;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}
.header-bottom {
    padding-top: 128px;
    padding-bottom: 128px;
    gap: 16px;
    flex-wrap: wrap;
}
.header-bottom >* {
    flex: 1 0;
}
.header-bottom p {
    margin-bottom: auto;
}
.header-left{
    flex-direction: column;
}
.header-left button{
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    padding: 4px 16px;
    width: fit-content;
    border: 2px solid #3882F6;
}
h1 {
    margin-top: 0;
    font-size: 48px;
    font-weight: 900;
}
.header-image {
    max-height: 275px;
}

/* section2 css */
    h3 {
        font-size: 36px;
        font-weight: bolder;
        color: #1f2937;
        justify-content: center;
        align-items: center;
    }
    .box-container {
        justify-content: space-between;
        gap: 32px;
        flex-wrap: wrap;
    }
    .box img {
        border: 2px solid #3882f6;
        border-radius: 10%;
        width: 200px;
        height: 200px;
    }
    .box p {
        max-width: 200px;
    }

/* section3 */
    .section.three {
        background-color: #E5E7EB;
        font-size: 36px;
        font-family: light italic;
        color: #1d2837;
    }
    .section.three div {
        font-weight: bold;
        justify-content: flex-end;

    }

/* section4 */
    .container {
        background-color: #3882F6;
        justify-content: space-between;
        align-items: center;
        padding: 16px 64px;
        border-radius: 10px;
        color: white;
        gap:32px;
    }
    .left-side {
        margin-right: auto;
    }
    .right-side {
        background-color: #3882f6;
        color: white;
        border-radius: 6px;
        padding: 4px 16px;
        width: fit-content;
        border: 2px solid white;
    }

/* footer */
    footer {
        margin-top: auto;
        justify-content: center;
        align-items: center;
        padding: 16px;
        font-size: 18px;
    }
