body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.section {
    border: 2px solid blue;
    padding: 8px 192px;
}
.section.three {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    font-family: light italic;
    color: #1d2837;
}
.section.three div {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;

}